
# Business Network Definition Outline

- {{name}}  {{version}}


# Class Declarations Summary
| Namespace | Name |
| --------  | ---- |
{% for cd in classdeclarations %} | {{cd.namespace}} | {{cd.name}} | 
{% endfor %}


# Transaction Functions Summary

{{transactions}}

# ACL Summary

{{acls}}

# Queries

{{queries}}

{{readme}}