
# Business Network Definition Outline

*Name*: {{core.name}} 
*Version*: {{core.version}}

## Asset Definition Summaries
| Namespace | Name | Description |
| --------  | ---- | ----------- |
{% for asset in types.asset %}| {{asset.fqn}} | {{asset.name}} | {{asset.description}}  |
{% endfor %}

## Transaction Definition Summaries
| Namespace | Name | Description |
| --------  | ---- | ----------- |
{% for tx in types.transaction %}| {{tx.fqn}} | {{tx.name}} | {{tx.description}}  |
{% endfor %}

## Participant Definition Summaries
| Namespace | Name | Description |
| --------  | ---- | ----------- |
{% for pt in types.participant %}| {{pt.fqn}} | {{pt.name}} | {{pt.description}}  |
{% endfor %}

## ACL Summary
{% for rule in acls %}- *{{rule.description}}
{% endfor %}

## Details

### Transaction Functions

{% for fn in scripts.files %}
*Identifier* {{fn.identifier}}
*Functions*
{% for f in fn.functions %}
```
{{f.text}}
``` 
{% endfor %}
{% endfor %}

### Asset Model

_wip_

### ACLs
{% for rule in acls %}- *{{rule.description}}
{% endfor %}

### Queries

_wip_

# Network Readme
{{core.readme}}