<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{context.data.test}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  </head>
</head>


<body class="">
                <div class="section">
                    {{body}} 
                </div>
</body>

</html>





